{% extends "shop/base.html" %}
{% load i18n %}

{% block title %}{% trans "Password changed" %}{% endblock %}

{% block content %}
<div class="py-5 container-fluid custom-container-fluid">
    <nav class="mb-5" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'shop:home' %}">{% trans "Home" %}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'edit' %}">{% trans "My account" %}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{% trans "Password change" %}</li>
        </ol>
    </nav>
    <h1>{% trans "Password changed" %}</h1>
    <hr>
    <div class="alert alert-success">
        <p class="mb-0">{% trans "Your password has been successfully changed." %}</p>
    </div>
</div>
{% endblock %}