{% extends "shop/base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block content %}
<div class="py-5 container-fluid custom-container-fluid">
    <h1>{% trans "Password set" %}</h1>
    <hr>
    <div class="alert alert-success">
        <p class="fw-semibold mb-0">
            {% trans "Your password has been set." %}
            {% trans "You can" %} <a href="{% url 'login' %}">{% trans "login now" %}</a>.
        </p>
    </div>
</div>
{% endblock %}