{% extends "shop/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Create an account" %}{% endblock %}

{% block content %}
<div class="py-5 container-fluid custom-container-fluid">
    <nav class="mb-5" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'shop:home' %}">{% trans "Home" %}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'login' %}">{% trans "Login" %}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{% trans "Create an account" %}</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-md-6">
            <h1 class="mb-3">{% trans "Create an account" %}</h1>
            <div class="bg-white border p-3 flex-grow-1">
                <p class="fw-semibold">{% trans "Please, sign up using the following form" %}:</p>
                <form method="POST">
                    {{ user_form|crispy }}
                    {% csrf_token %}
                    <div class="mt-4 d-flex justify-content-between">
                        <button class="btn btn-dark">{% trans "Create an account" %}</button>
                        <a href="{% url 'login' %}" class="btn btn-dark">{% trans "Go back" %}</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}